@use "../base/mixin";
@use "../component/icon-button";
@use "../component/link";
@use "container";
@use "../module/navigation";
@use "footer";

.l-detail {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-ink);

  &__header {
    pointer-events: none;
    position: sticky;
    top: 0;
    z-index: 50;
    padding: 1rem 1rem 0;
    @include mixin.mq(lg) {
      display: none;
    }
    &--desktop {
      display: none;
      padding: 2.25rem 2.25rem 0;
      @include mixin.mq(lg) {
        display: block;
      }
    }
  }
  &__header-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
  }
  &__menu {
    @include mixin.mq(lg) {
      display: none;
    }
  }
}
