@use "../base/reset";
@use "../base/base";
@use "../modules/page-loader";
@use "../layouts/error";
@use "../base/mixin";
@use "../layouts/detail";
@use "../layouts/page";
@use "../modules/page-heading";
@use "../modules/work-card";

.l-works-list {
  @include page.spacing;
  &__cards {
    margin-top: 3.5rem;
    display: grid;
    gap: 1.5rem;
    @include mixin.mq(sm) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
