@use "../base/reset";
@use "../base/base";
@use "../module/page-loader";
@use "../layout/error";
@use "../base/mixin";
@use "../layout/detail";
@use "../layout/page";
@use "../module/page-heading";
@use "../module/section";
@use "../module/profile";
@use "../module/career";
@use "../module/skill-card";
@use "../module/like-card";

.l-about {
  @include page.spacing;
  &__profile {
    margin-top: 3.5rem;
    display: grid;
    align-items: center;
    gap: 2.5rem;
    @include mixin.mq(md) {
      grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    }
  }
  &__portrait {
    @include mixin.mq(md) {
      margin-inline: auto;
      width: 100%;
      max-width: 360px;
    }
  }
  &__section {
    @include section.spacing;
  }
  &__section-title {
    @include section.title;
  }
  &__section-description {
    @include section.description;
  }
  &__skills {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    @include mixin.mq(sm) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  &__likes {
    margin-top: 2.5rem;
    display: grid;
    gap: 1.25rem;
    @include mixin.mq(sm) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
