@use "sass:map";
@use "setting";

@mixin mq($breakpoint) {
  @if not map.has-key(setting.$breakpoints, $breakpoint) {
    @error "Unknown breakpoint: #{$breakpoint}";
  }
  @media (min-width: map.get(setting.$breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
